@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: rgb(121, 228, 255);
  font-family: "Fuzzy Bubbles", cursive;
}

#notice p {
  text-align: center;
  font-size: xx-large;
  width: 90vw;
  margin: 10rem auto 3rem;
  color: red;
}

#container {
  width: 70%;
  margin: 2rem auto;
}

h1 {
  text-align: center;
}

label,
p {
  width: 100%;
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: large;
}
input {
  width: 70%;
  display: block;
  margin: 1rem auto;
  padding: 0.3rem;
  text-align: center;
  border-radius: 1rem;
  border-color: orangered;
}
button {
  font-size: medium;
  display: block;
  margin: auto;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
}

footer {
  text-align: center;
  padding-top: 2rem;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: goldenrod;
  font-size: medium;
}